//  Variables
$color-text-primary: #253D4E;
$color-text-secondary: #6c757d;
$color-text-light: #7E7E7E;
$color-text-muted: #adb5bd;
$color-text-accent: #3BB77E;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$bg-white: #ffffff;
$bg-light: #f8f9fa;
$bg-dark: #212529;
$bg-muted: #ECECEC;
$bg-accent: #3BB77E;
$bg-accent-light: #BCE3C9;